
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50;
    
}

.register-box {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #0a0a0a;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(39, 239, 49);
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #292929;
    color: #ffffff;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #66afe9;
}

.input-group label i {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(39, 239, 49);
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

button:active {
    transform: translateY(1px);
}
